.sc-row{
	width:100%;
	margin-bottom:10px;
	float:left;
}
.sc-container{
	background: #fff;font-size: 14px;
	padding: 8px 12px;
	margin: 0px;
	line-height: 1.4;
	float:left;
}
.sc-container h3{
	font-size: 14px;
	border-bottom: 1px solid #EEE;
	padding:5px 0px;
}
#container-1{
	width:60%;

}
#container-2{
	width:32%;
	background:#fff;
	margin-left:20px;
}
#container-2 table th,#container-2 table td{
	padding: 10px 10px 10px 0;
	line-height: 1;
}
.sc-widget-panel{
	background:#eee;
	float:left;
}
.form-table th{
	
}
#sc-widget-container-1{
	width:200px;
	height:auto;
	background:#fff;
	float:left;
	margin:10px;
	padding:10px 0px;
	border-radius: 5px;
	border:1px solid #aaa;
}
#sc-widget-title{
	font-size:11px;
	font-weight:bold;
	margin:5px auto;
	color: #A263C1;
}
#sc-widget-img{
	width:150px;
	height:150px;
	box-shadow: none;
}
#sc-widget-price{
	font-weight: bold;
	font-size: 13px;
	color: #4F9516;
}
#sc-widget-button{
	font: 12px/16px Arial,Helvetica,sans-serif;
	vertical-align: middle;
	color: #2F2F2F;
	margin: 5px 0px;
	padding: 2px 4px;
}

/*	This refers with cron colorbox panel   */
.cron-panel{
	margin:10px;	
}
.sc-cell{
	float:left;
	margin-right:5px;
}
#sc-cb-title{
	font-size:16px;
	font-weight:bold;
}
#addCron{
	cursor:pointer;
}
#sc-closeBtn{
	float:right;
	cursor:pointer;
	font-weight:bold;
	color:balck;
}
#delete_btn{
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0px;
	padding: 0px 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
	vertical-align: top;
	background: none repeat scroll 0% 0% #FF8989;
	border-color: #F55;
	color: #222;
}
#sc-checkb-r{
	display:none;
}
#sc-check-status{
	position:relative;
	top:-1px;
	left:10px;
}
#sc-checkb{
	width:40px;
	float:left;
	display: block;
	border-radius: 20px;
	height: 16px;
	padding: 0px;
	cursor: pointer;
	z-index:-9;
}
.bg-inactive{
	background: none repeat scroll 0% 0% #AAA;
}
.bg-active{
	background: none repeat scroll 0% 0% #3A3;	
}
#sc-check{
	width: 10px;
	height: 10px;
	position: relative;
	left: 3px;
	top: 3px;
	background: none repeat scroll 0% 0% #FFF;
	border-radius: 20px;
	float:left;
}
#sc-cron-desc{
	font-size: 13px;
	line-height: 1.5;
}
.pull-right{
	
}
.pull-left{
	float:left;
}
/*Bootstrap*/
.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}
.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}
.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}
.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}
.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}
.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}
.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}
.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}
.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}
.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}
.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}
.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}
.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}
.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}
.col-md-offset-0{margin-left:0}
